.footer {
  background-color: #1e1e1e;
  color: #ffffff;
}

.footer h6 {
  display: inline-block;
  font-size: 2.4rem;
  line-height: 9.7rem;
  font-weight: 400;
}

.footer img {
  width: 5.7rem;
  height: 5.3rem;
  margin-right: 2.3rem;
  transform: translateY(40%);
}

.footer > div {
  display: flex;
  justify-content: center;
}

hr {
  color: #666666;
  background-color: #666666;
}

.footer p {
  font-size: 1.2rem;
  line-height: 4.47rem;
  text-align: center;
}
